{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-12">

    <h3>Try a Search!</h3>
    <form action="search" method="POST">
      <div class="form-group">
        <label for="keywords">Enter some keywords</label>
        <input type="text" class="form-control" id="keywords" name="keywords" placeholder="puppy">
        <label for="Start date">Enter start date</label>
        <input type="date" class="form-control" id="startdate" name="startdate" value="2016-09-01">
        <label for="Start date">Enter end date</label>
        <input type="date" class="form-control" id="enddate" name="enddate" value="2016-10-01">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  
  </div>

</div>    

{% endblock %}